
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-footer {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
}


@media screen and (min-width:320px) and (max-width:767px) { 
  
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

  
}

@media screen and (min-width:480px) {
    .container-footer {
        width: 480px;
        margin: 0 auto;
    }

    .footer-navigation-link {
        font-size: 24px;
        
    }

    .footer-link:not(:last-child) {
        margin-bottom: 8px;
    }

    .footer-item-container {
        margin-top: 60px;
    }

    .footer-form-section {
        margin-top: 60px;   
    }

    .footer-form-input {
        margin-bottom: 20px;
        width: 450px;
       
    }

    .form-footer-btn {
        margin-top: 20px;
    }
}   


@media screen and (min-width:768px) and (max-width:1199px) { 
  
    
  
}

@media screen and (min-width: 768px) {
    .container-footer {
        width: 768px;
        margin: 0 auto;
    }

    .footer-navigation-link {
        font-size: 24px;
    }

    .footer-link:not(:last-child) {
        margin-bottom: 8px;
    }

    .footer-form-input {
        margin-bottom: 20px;
        width: 358px;
    }

    .footer-tablet {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    
    .footer-item {
        text-align: center;
    }

    .footer-item-container {
        text-align: center;
        margin-top: 0;
    }

    .footer-form-section {
        text-align: center;
    }
  
}

@media screen and (min-width: 1200px) {

    .container-footer {
        width: 1200px;
        margin: 0 auto;
    }

    .footer-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-tablet {
        display: flex;
       
    }

    .footer-navigation-link {
        font-size: 26px;
        text-align: start;
    }

    .footer-item {
        text-align: start;
        margin-right: 70px;
    }

    .footer-item-container {
        margin-bottom: 6px;
        
        text-align: start;
    }

    .footer-link:not(:last-child) {
        margin-bottom: 9px;
    }

    .social-list-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-footer-item {
        align-items: center;
        justify-content: center;
    }

    .footer-form-section {
        text-align: start;
        margin-top: 0;
    }

    .footer-form {
        display: flex;
    }

    .footer-form-input {
        margin-right: 12px;
        width: 358px;
    }

    .form-footer-btn {
        position: relative;
        
    }

} 


.footer-navigation-link {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    line-height: 1.174;
    letter-spacing: 0.03em;
    color: $title-dark-theme-color;
}

.footer-maps-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $title-dark-theme-color;
}

.footer-mail-link,
.footer-tel-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0;
    margin-bottom: 0;
}


.footer .address {
    margin-top: 20px;
}


.social-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: $main-font;
    font-weight: 700;
    color: $title-dark-theme-color;
    letter-spacing: 0.03em;
}

.social-list-footer {
    display: flex;
    
}

.social-footer-item {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); 
}

.social-footer-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); 
    transition: background-color 250ms $timing-function;
}

.social-footer-item:not(:last-child) {
    margin-right: 10px;
}

.social-footer-link svg {
    width: 20px;
    height: 20px;
    --color4: #FFFFFF;
}

.social-footer-link:hover {
    background-color: $accent-color;
}

.footer-form-input {
    
    height: 50px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    padding-left: 16px;
    border-radius: 4px;
    color: $title-dark-theme-color;
}

.footer-form-input:hover,
.footer-form-input:focus {
    border-color: $accent-color;
    outline: none;
}



.form-footer-btn {
    
    display: flex;
    justify-content: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: rgba(33, 150, 243, 1);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 0 auto;
}

.btn-submit {
    margin-top: 30px;
    margin-bottom: 35px;
}

.submit-icon {
    margin-left: 10px;
}
