
.backdrop {
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.support {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.model {
    position: relative;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
}

.close-btn svg {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px; 
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.close-btn:hover  {
    --color3: #2196F3;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-light-theme-color;
    margin-top: 16px;
    margin-bottom: 12px;
}

.form-container {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.172;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    position: relative;
    cursor: pointer;
}

.form-input {
    width: 448px;
    height: 40px;
    border-color: rgba(33, 33, 33, 0.2);
    border-style: solid;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 42px;
}   

.form-container-comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.172;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    cursor: pointer;
}

.form-comment{
    width: 448px;
    height: 120px;
    padding: 12px;
    resize: none;
    border-color: rgba(33, 33, 33, 0.2);
    border-style: solid;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 20px; 
    
}

.modal-form-icon {
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.form-input:focus + .modal-form-icon,
.form-input:hover + .modal-form-icon{
    fill: $accent-color;
}

.form-input:hover,
.form-comment:hover,
.form-input:focus,
.form-comment:focus {
    border-color: $accent-color;
    outline: none;
}

.form-checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}

.form-checkbox-container::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border-radius: 2px;
    border: 0.75px solid #212121;
    margin-right: 8px;
}

.form-checkbox:checked + .form-checkbox-container::before {
    background-color: #2196F3;
    background-image: url(../images/modal/check.svg);
    border: none;
}

.checkbox-item {
    color: $accent-color;
    margin-left: 5px;
    
}


.form-submit-btn {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: rgba(33, 150, 243, 1);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: $title-dark-theme-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
